<div class="row">
    <div class="col-12 ml-5" data-disp="true" id="aboutFill">
        This site provides a graphical representation of the FEU Ultimate Graphics Repo. It displays GIFs of the animations in action
        with links to the individual animation folders for easy downloading. Credit to Klokinator for creating the repo and
        the countless animators who have provided their work for the community to use. Please remember to credit the creators
        for their works.
    </div>
</div>