<footer class="row fixed-bottom">

    <div class="col-md-4 col-3">
        <a class="ftcol" href="https://linkedin.com/in/bradyshinners">Linkedin</a>
    </div>

    <div class="col-md-4 col-6">
         &#169; Brady Shinners
    </div>

    <div class="col-md-4 col-3">
        <a class="ftcol" href="https://github.com/shindad/FEGBA_repo_db">GitHub</a>
    </div>

</footer>