<nav class="navbar navbar-nav navbar-dark bg-dark flex-row flex-wrap" id="sideBar">
    {{#each navItem}}
    <button type="button" class="nav-link btn btn-secondary mx-auto p-1" data-toggle="button" data-disp="{{disp}}"
        data-fill="{{fill}}" id={{title}}>
        {{dispTitle}}
    </button>
    {{/each}}
</nav>