node_modules/
download/
desktop.ini
1.*Infantry/
2.*Lords*and*Unique/
3.*Magi/
4.*Cavalry*and*Armors/
5.*Fliers"
6.*Monsters/
7.*Spells/
8.*Skills/
*.driveupload
.env

credentials.json
private-key.json
token.json
tokenold.json
undefined.json