<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Emblem Anims</title>
	<link rel="shortcut icon" href="img/icon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{!-- LinkedIn-Visible Tags --}}
	<meta property="og:title" content="Emblem anims" />
	<meta property="og:image" content="https://imgur.com/q3z4BVq.png" />
	<meta property="og:description" content="Preview, Compare, Search, and Download Custom Fire Emblem GBA Animations" />
	<meta property="og:url" content="emblem-anims.herokuapp.com" />

	<!--Precautionary clear Default Styles-->
	<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />

	<!--Bootstrap Styles-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	{{!-- Font Awesome styles --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Custom Styles-->
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />

</head>

<body>
	<!--Body will be inputted as index.handlebars-->
	{{{ body }}}

	<!--Bootstrap Scripts-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>

	<!--Custom Script-->
	<script type="module" src="js/main.js"></script>
</body>

</html>