<h1 class="headerText headerUnder mb-0">
	Emblem Anims
</h1>

<!--Insert Navbar from partial-->
{{> navbar}}

<div class="container bodyContainer">
	<div class="row">
		<!--Mainbody-->
		<div class="col-12" id="mainBody">

			<!--Body Row 2: About Placeholder-->
			{{> about}}
		</div>
	</div>
	<iframe id="hidDownloads" style="display:none;"></iframe>
	<br>
	<br>
	{{> footer}}
</div>