body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, cornsilk, wheat, sienna);
    font-weight: 600;
    background-attachment: fixed;
}

a {
    color: black;
    font-weight: 200;
}

/* Navbar Styles */

#sideBar {
    z-index: 100;
}

.navtext {
    font-size: 0.8em;
}

.fullNav {
    display: inline-block;
}

.smallNav {
    display: none;
}

.dropdown-toggle::after {
    display:none !important;
}

/* Header Styles */
.headerUnder {
    border-bottom: 1px solid black;
}

.headerText {
    text-align: center;
    font-weight: 400;
}

/* Body Styles */
.gif {
    border-radius: 7px 7px 0 0;
    width: 20rem;
    height: 15rem;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.7);
    object-fit: cover;
    object-position: 0 0;
    overflow: hidden;
}

.animName {
    font-size: small;
}

.genderIcon {
    font-weight: bolder;
}

.imgIcon {
    max-height: 16px;
    width: auto;
    margin: -5px 2px 0px;
}

.authorText {
    font-weight: 100;
    font-size: xx-small; 
}

.cardbg {
    line-height: 1.5;
    background: radial-gradient(cadetblue 65%, darkslategray);
    width: 20rem;
    /* margin-left: 11%; */
    /* max-width: 90%; */
    border-radius: 0 0 7px 7px;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.7);
}

.category {
    display: none;
}

.navimg {
    max-height: 16px;
}

/*Footer Styles*/
.fixed-bottom {
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #666666;
    color: #4aaaa5;
}

.ftcol {
    color: lightblue;
}

@media screen and (max-width: 750px) {
    .fullNav{
       display: none;
    }

    .smallNav{
       display: inline-block;
    }
}